/* Changes the color of all main headings to black */
body {
  color: #000000;
}

/*Image customization*/
img {
  border-radius: 8px;
  max-width: 50%;
  height: 25%;
}

p { 
  text-shadow: 2px 2px 4px #000000;
}
