/* Changes the color of all main headings to black */
body {
  color: #000000;
  text-align: center;
}

/*Image customization*/
img {
  border-radius: 8px;
  max-width: 50%;
  height: 25%;
}

p { 
  text-align: center;
}
